.errorBox{

    margin: auto;
    margin-top: 5px;
    background-color: #f7a7a3;
  
    text-align: center;
    max-width: calc((min(13vmin, 55px) + 2vmin)*6 - 20vmin);
    max-height: 20%;
    border-radius: 5px;
  
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bolder;
  
    transition: opacity 1s;
  
    border-left:5px solid #8f130c;
    
    padding:10px;
  
  }
  
  .errorMsg{
    margin-top: 0;
    margin-bottom: 0;
  }
  